// Define variables for your color scheme

// For example:
$red: #FB5058;
$blue: #4776c2;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #23DC3D;
$gray: #0E0000;
$light-gray: #F4F4F4;
$blue-green: #17A2B8;
