<h1>H1: Voici vos bookings</h1>
<p>Je suis un container avec les différentes card-containers et cards. Les cards sont l'ensemble des <strong>bookings</strong> que l'user a book</p>
<p>Boutons "delete" </p>
