<div class= "container">
  <h1>Explorez nos lieux incontournables !</h1>
  <hr>
  <div class="cards">
    <% if @offers.present? %>
      <% @offers.each do |offer| %>
        <div class="card-category">
          <ul>
            <li>
              <%= link_to offer.name, offer_path(offer) %>, <%= offer.address %>
            </li>
        </div>
        <% end %>
        <% else %>
          <li>No offers available.</li>
        <% end %>
    </ul>
  </div>
</div>
