<h1>Détails de vos offres</h1>
<%= link_to "Add an Offer", new_offer_path %>
<p>Je suis un container avec les différentes card-containers et cards. Les cards sont l'ensemble des <strong>offers</strong> que l'user a posté.</p>
<%= link_to "✎ Edit", "#" %>, <%= link_to "🗑️ Delete", "#" %>
