<h1>H1: Voici vos offres</h1>
<p>Bouton "create New Offer" </p>
<p>Je suis un container avec les différentes card-containers et cards. Les cards sont l'ensemble des <strong>offers</strong> que l'user a posté</p>
<p>Boutons "edit", "delete" </p>
