// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Mapbox
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");
@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css");

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/cards";
@import "components/footer";

h1 {
  font-size: 60px;
}

h5 {
  font-size: 24px;
}

body {
  padding-top: 56px;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin-top-negative {
  margin-top: -50px;
}

.no-mb {
  margin-bottom: 0;
}

.no-bold {
  font-weight: normal;
}

.offer-show-address {
  font-weight: 200;
  color: #333;
}

.little-class {
  font-size: 9px;
}

.price {
  font-weight: bold;
  font-size: 20px;
}

.text-orange {
  color: $orange;
}

.text-green {
  color: $green;
}

.text-red {
  color: $red;
}

.text-blue {
  color: $blue;
}
